# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

public/
cards_fr.json
src/data/boxes_en.json
src/scripts/obtainCardName.py
src/scripts/uniformizeCardSlugs.py
src/scripts/visualBoxCalculator.py
src/shared/translation_fr.json
tets/boxes.json
