@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

.pixelated {
  image-rendering: pixelated;
}

@font-face {
  font-family: FourSoulsMain;
  src: url("/fonts/EdmundMcMillen_v2.ttf");
}

@font-face {
  font-family: FourSoulsStatblock;
  src: url("/fonts/TheEnd_v2.ttf");
}

@font-face {
  font-family: FourSoulsAltStats;
  src: url("/fonts/Team Meat font.ttf");
}

@font-face {
  font-family: TimeFcuk;
  src: url("/fonts/PC_Senior.ttf");
}

@theme {
  --font-main: FourSoulsMain, sans-serif;
  --font-statblock: FourSoulsStatblock, sans-serif;
  --font-alt-stats: FourSoulsAltStats, sans-serif;
  --font-time-fcuk: TimeFcuk, sans-serif;

  --shadow-2xs: 0 0.01em 0.01em rgb(0 0 0 / 0.05);
  --shadow-xs: 0 0.02em 0.02em rgb(0 0 0 / 0.05);
  --shadow-sm: 0 0.05em 0.05em rgb(0 0 0 / 0.1);
  --shadow-md: 0 0.1em 0.1em rgb(0 0 0 / 0.1);
  --shadow-lg: 0 0.2em 0.2em rgb(0 0 0 / 0.1);
  --shadow-xl: 0 0.5em 0.5em rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1em 1em rgb(0 0 0 / 0.25);
  --shadow-3xl: 0 2em 2em rgba(0, 0, 0, 0.25);
  --shadow-4xl: 0 3em 3em rgba(0, 0, 0, 0.2);

  --blur-2xs: 2px;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  --radius-xs: 0.125em;
  --radius-sm: 0.25em;
  --radius-md: 0.375em;
  --radius-lg: 0.5em;
  --radius-xl: 0.75em;
  --radius-2xl: 1em;
  --radius-3xl: 1.5em;
  --radius-4xl: 2em;

  --spacing: 0.25em;

  --text-2xs: 0.625em;
  --text-2xs--line-height: 1;
  --text-xs: 0.75em;
  --text-xs--line-height: 1;
  --text-sm: 0.875em;
  --text-sm--line-height: 1;
  --text-base: 1em;
  --text-base--line-height: 1;
  --text-lg: 1.125em;
  --text-lg--line-height: 1;
  --text-xl: 1.25em;
  --text-xl--line-height: 1;
  --text-2xl: 1.5em;
  --text-2xl--line-height: 1;
  --text-3xl: 1.875em;
  --text-3xl--line-height: 1;
  --text-4xl: 2.25em;
  --text-4xl--line-height: 1;
  --text-5xl: 3em;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75em;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5em;
  --text-7xl--line-height: 1;
  --text-8xl: 6em;
  --text-8xl--line-height: 1;
  --text-9xl: 8em;
  --text-9xl--line-height: 1;

  --inset-shadow-2xs: inset 0 0.05em rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 0.05em 0.05em rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 0.12em 0.24em rgb(0 0 0 / 0.05);

  --animate-in-right: animate-in-right 0.3s ease-in-out forwards;
  --animate-out-right: animate-out-right 0.3s ease-in-out forwards;
  --animate-iso-spin: animate-iso-spin 10s linear infinite;

  @keyframes animate-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes animate-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @keyframes animate-iso-spin {
    from {
      transform: rotateX(55deg) rotateZ(0deg);
    }

    to {
      transform: rotateX(55deg) rotateZ(360deg);
    }
  }
}
